.instagram-card{
	background: #ffffff;
	border: 1px solid #f2f2f2;
	border-radius: 3px;
	width: 30%;
	max-width: 300px;
	margin: auto;
    margin-top: 45px;
    max-height: 72%;
}

.instagram-card-header{
	padding: 20px;
	height: 40px;
}

.instagram-card-user-image{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	vertical-align: middle;
}

.instagram-card-time{
	float: right;
	width: 80px;
	padding-top:10px;
	text-align: right;
	color: #999;
}

.instagram-card-user-name{
	margin-left:20px;
	font-weight:bold;
    color: #262626;
}

.instagram-card-content{
  padding: 20px;
}

.instagram-card-image {
    width: 100%;
    height: auto;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 15px;
}

.likes{
  font-weight: bold;
  font-size: 12px;
}

.instagram-card-content-user{
  font-weight: bold;
  font-size: 12px;
  color: #262626;
}

.instagram-card-content-caption{
  font-size: 12px;
}

.hashtag{
  font-size: 12px;
  color: #126fcd;
}

.comments{
  color:#999;
}

.user-comment{
  color: #003569;
}

.instagram-card-footer{
  padding: 20px;
  display: flex;
  align-items: center;
}

hr{
  border: none;
  border-bottom: 1px solid #ccc;
  margin-top: 30px;
  margin-bottom: 0px;
 
}


.footer-action-icons{
  font-size: 16px;
  color: #ccc;
}

.comments-input{
  border: none;
  margin-left: 10px;
  width: 100%;
}